[submodule "libs/yaml-cpp"]
	path = libs/yaml-cpp
	url = git@github.com:jbeder/yaml-cpp.git
[submodule "libs/kubernetes-c-client"]
	path = libs/kubernetes-c-client
	url = git@github.com:kubernetes-client/c.git
